/* ----------------------------------------------------------------------
  Magic Catalog Project
  Virgil Anderson
  Started 2/4/2019
  ----------------------------------------------------------------------- */

  /* ----------------------------------------------------------------------
    Page Styles
  ----------------------------------------------------------------------- */

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  /* ----------------------------------------------------------------------
    Header Styles
  ----------------------------------------------------------------------- */
  header {
    width: 100%;
    padding: 1%;
    margin: 0;
    background-color: #130A2E;
    color: white;
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex {
    font-size: 1em;
  }
  .logo {
    font-size: 26px;
    flex-grow: 6;
    padding-left: 2%;
  }
  .right {
      flex-grow: 1;
      margin-top: 0.5%;
  }
  .search {

  }
  .name {

  }
  .authenticate {

  }
  .head_nav {

  }
  .head_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .head_nav li {
    display: inline;
    padding: 5%;
  }
  .head_nav a{
    color: white;
    text-decoration: none;
  }
  .head_nav a:hover{
    color: #685D8A;
    text-decoration: underline;
  }


    /* ----------------------------------------------------------------------
      Color Scheme:

      #130A2E --> Dark
      #241946
      #352958 --> Primary
      #4B3F6F
      #685D8A --> Light
    ----------------------------------------------------------------------- */
