/* ----------------------------------------------------------------------
  Magic Catalog Project
  Virgil Anderson
  Started 2/4/2019
  ----------------------------------------------------------------------- */

  /* ----------------------------------------------------------------------
    Page Styles
  ----------------------------------------------------------------------- */

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #352958;
    text-decoration: underline;
  }
  dt {
    font-weight: bold;
  }

  /* ----------------------------------------------------------------------
    Header Styles
  ----------------------------------------------------------------------- */
  header {
    width: 98%;
    padding: 1%;
    margin: 0;
    background-color: #130A2E;
    color: white;
    overflow: hidden;
  }

  header a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: 1% 2% 0 0;
    text-decoration: none;
    font-size: 1.25em;
  }

  header a:first-child {
    font-size: 2em;
    margin: 0 0 0 2%;
    float: left;
  }
  header a:hover {
    color: #685D8A;
  }
  header a:hover:first-child{
    text-decoration: none;
    color: white;
  }
  header form{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: .75% 1% 0 1%;
    text-decoration: none;
    font-size: 1.25em;
  }
  .icon {
    display: none;
  }

  /* ----------------------------------------------------------------------
    Tablet Header - 1025px
  ----------------------------------------------------------------------- */

  @media only screen and (max-width: 1025px) {
    header a:first-child {
      font-size: 1.5em;
      margin: .5% 0 0 2%;
    }
    header a {
      font-size: 1em;
    }
  }

  /* ----------------------------------------------------------------------
    Mobile Header - 600px
  ----------------------------------------------------------------------- */
  @media only screen and (max-width: 600px) {

    header a{
      font-size: 1.25em;
    }
    header a:not(:first-child) {
      display: none;
    }

    header a:first-child {
      font-size: 1.25em;
      margin: 5% 0 0 2.5%;
    }

    header form {
      display: none;
    }

    header a.icon {
      float: right;
      display: block;
      padding: 2%;
      font-size: 2em;
    }

    header.responsive {
      position: relative;
      transition: 0.5s;
    }
    header.responsive .icon {
      position: absolute;
      right: 2%;
      top: -4%;
    }
    header.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin: 5% 0 0 2.5%;
    }
    header.responsive form {
      float: none;
      display: block;
      text-align: left;
      margin: 5% 0 0 2.5%;
    }
  }

  /* ----------------------------------------------------------------------
    Sidenav Styles
  ----------------------------------------------------------------------- */

  .sidenav_button{
      display: none;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 0;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav form {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* ----------------------------------------------------------------------
    Tablet: Sidenav Styles - 1025px
  ----------------------------------------------------------------------- */
  @media only screen and (max-width: 1025px) {
    .sidenav_button{
        display: block;
    }
  }

  /* ----------------------------------------------------------------------
    Main Page
  ----------------------------------------------------------------------- */
    main {
      width: 100%;
      background-image: url('../images/DSC_0028RW.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      padding: 7% 0;
      margin: 0;
      min-height: 815px;
    }

    .main_section {
      display: flex;
      justify-content: center;
    }

    .direct {
      text-align: center;
      font-size: 1.5em;
      width: 35%;
      margin: 10% 2.5%;
    }

    .direct a{
      color: white;
      padding: 10% 20%;
      border: 1px solid white;
      background-color: #685D8A;
      opacity: .8;
      text-decoration: none;
    }

    .direct a:hover {
      background: #130A2E;
      opacity: 1;
      color: white;
    }

    .row {
      display: flex;
    }
    .column {
      flex: 1;
      margin: 0;
    }

    .listings {
      flex: 3;
      border: none;
      margin: 0 2%;
    }

    aside {
      border-radius: 25px;
    }

    /* ----------------------------------------------------------------------
      Main Tablet - 1025px
    ----------------------------------------------------------------------- */

    @media only screen and (max-width: 1025px) {
      main {
        min-height: 1150px;
      }

      aside {
        display: none;
      }
    }

    /* ----------------------------------------------------------------------
      Main Mobile - 600px
    ----------------------------------------------------------------------- */
    @media only screen and (max-width: 600px) {

      main {
        min-height: 700px;
      }

      .main_section {
        display: flex;
        flex-direction:  column;
        padding: 5%;
      }

      .direct {
        width: 100%;
        margin: 5% 0;
        line-height: 4em;
      }

      .direct a{

      }

      .direct a:hover {

      }

    }

    /* ----------------------------------------------------------------------
      Sidebar Styles
    ----------------------------------------------------------------------- */

    .categories {
        width: 100%;
        margin: 0;
        padding: 5% 0;
        min-height: inherit;
        text-align: center;
        opacity: .85;
        background-color: #352958;
        color: white;
        border: 1px solid white;

    }

    .categories ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: left;
      background-color: #685D8A;

    }

    .categories li a {
      display: block;
      color: white;
      padding: 8px 16px;
      text-decoration: none;
      border-top: 1px solid white;
    }
    .categories li:last-of-type{
      border-bottom: 1px solid white;
    }

    .categories li a:hover {
      background-color: #352958;
      color: white;
    }

    /* ----------------------------------------------------------------------
      Advertisement Styles
    ----------------------------------------------------------------------- */

    .advertisements {
      width: 99%;
      margin: 0;
      padding: 5% 0;
      min-height: inherit;
      text-align: center;
      opacity: .85;
      background-color: #352958;
      color: white;
      border: 1px solid white;
    }

    .sponsor_box {

    }

    .sponsor_ad {
      background-color: #685D8A;
      height: 300px;
      width: 100%;
      border-top: 1px solid white;
    }

    .sponsor_ad:last-of-type {
      border-bottom: 1px solid white;
    }

    /* ----------------------------------------------------------------------
      Table Styles
    ----------------------------------------------------------------------- */

    #magic_listings {
      width: 100%;
      border-collapse: collapse;
      opacity: .9;
      color: white;
    }
    #magic_listings a{
      color: white;
      text-decoration: none;
    }
    #magic_listings a:hover{
      color: #685D8A;
      text-decoration: underline;
    }
    #magic_listings td, #magic_listings th {
      border: 1px solid white;
      padding: 5px;
      text-align: left;
    }

    #magic_listings tr:nth-child(even) {
      background-color: #685D8A;
    }

    #magic_listings tr:nth-child(odd) {
      background-color: #4B3F6F;
    }

    #magic_listings tr:hover {
      background-color: #241946;
    }

    #magic_listings th {
      background-color: #130A2E;
    }

    /* ----------------------------------------------------------------------
      Pagination Styles
    ----------------------------------------------------------------------- */

    .pagination {
      width: 100%;
      text-align: center;
    }



    /* ----------------------------------------------------------------------
      Listing Detail Styles
    ----------------------------------------------------------------------- */

    .listings a{
      color: white;
      text-decoration: none;
    }

    .listings a:hover{
      color: #685D8A;
      text-decoration: underline;
    }

    .listing_details {
      width: 100%;
      margin: 0;
      background-color: #4B3F6F;
      color: white;
      opacity: .9;
      border: 1px solid white;
    }

    .listing_title {
      width: 95%;
      padding: 2.5%;
      background-color: #130A2E;
      border-bottom: 1px solid white;
    }

    .listing_body {
      width: 95%;
      padding: 2.5%;
      display: flex;
    }

    .listing_info {
      flex: 1;
      padding: 1%;
      margin-right: 1%;
    }

    .listing_gallery {
      flex: 2;
      border: 1px solid white;
    }

    .listing_footer {
      width: 95%;
      padding: .5% 2.5%;
      background-color: #130A2E;
      border-top: 1px solid white;
    }

    .footer_menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .footer_menu li {
      display:inline;
      margin-right: 1%;
    }

    .featured {
      background-color: green;
      flex: 8;
      height: 300px;
      text-align: center;
    }

    .thumb {
      background-color: darkgreen;
      flex: 1;
      height: 75px;
      text-align: center;
    }
    .thumb:nth-child(odd){
      background-color: darkblue;
    }


    /* ----------------------------------------------------------------------
      Footer Styles
    ----------------------------------------------------------------------- */
    footer {
      text-align: center;
      width: 98%;
      padding: 1%;
      margin: 0;
      background-color: #130A2E;
      color: white;
    }

    /* ----------------------------------------------------------------------
      Footer Tablet Styles
    ----------------------------------------------------------------------- */
    @media only screen and (max-width: 1025px) {
      footer {
        padding: 2.5% 1%;
      }
    }

    /* ----------------------------------------------------------------------
      Footer Mobile Styles
    ----------------------------------------------------------------------- */
    @media only screen and (max-width: 600px) {
      footer {
        padding: 5% 1%;
      }
    }

    /* ----------------------------------------------------------------------
      Color Scheme:

      #130A2E --> Dark
      #241946
      #352958 --> Primary
      #4B3F6F
      #685D8A --> Light
    ----------------------------------------------------------------------- */
